<!DOCTYPE HTML>
<html>

<head>
    <title>Explore It - View Project</title>
    {{>parts/meta}}
</head>

<body>
{{>parts/menu}}

<div class="container">
    <div class=mt-5>
        <h2 class="text-primary">{{project.name}}</h2><br>
        <h3 class="text-primary">{{project.description}}</h3><br>
    </div>
</div>

{{>parts/footer}}
{{>parts/scripts}}
</body>

</html>