<!DOCTYPE HTML>
<html>

<head>
    <title>Explore It - View Project</title>
    {{>parts/meta}}
</head>

<body>
{{>parts/menu}}

<div class="container">
    <div class=mt-5>
        <h2 class="text-primary">{{project.name}}</h2><br>
        <h3 class="text-primary">{{project.description}}</h3><br>
        <h3 class="text-primary">Sections:</h3><br>
        {{#sections}}
            <h4 class="text-primary">{{name}}</h4>
            <form method="post" action="/project/view">
                <input type="hidden" name="projectId" value="{{project.id}}"/>
                <input type="hidden" name="sectionId" value="{{id}}"/>
                <input type="hidden" name="delete"/>
                <button type="submit">Remove</button>
            </form>
            <br>
        {{/sections}}
        <form method="post" action="/project/view">
            <input type="hidden" name="id" value="{{project.id}}"/>
            <input type="text" name="name" size="80" placeholder="Enter section name"/>
            <button type="submit">Add Section</button>
        </form>

    </div>
</div>

{{>parts/footer}}
{{>parts/scripts}}
</body>

</html>