<html>

<head>
    <title>Explore It - Authorization Page</title>
    {{>parts/meta}}
</head>

<body class="d-flex flex-column h-100">
 {{>parts/menu}}

<div class="container">
    <div class=mt-5>
        <h1 class=text-warning>Oops! :(</h1>
        <h2 class=text-warning>Something went wrong!</h2>
    </div>
</div>

{{>parts/footer}}
{{>parts/scripts}}
</body>
</html>